{% extends "layout.html" %}
<!--pull in the macro form so we can use render_form below-->
{% from "form_macros.html" import render_field %}

{% block content %}
    <section>
        <h1>Add a new URL</h1>
        <form method="post">
            {{form.hidden_tag()}} <!--protects against CSRF, always use when using WTF forms-->
            <table>
                {{ render_field(form.url, size=50) }}
                {{ render_field(form.description, size=50) }}
                <tr>
                   <td></td>
                    <td><button type="submit"> Submit</button></td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}