{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is a demo bookmark site made with Flask.</p>
    <p>&nbsp;</p>
</div>

<div class="container">
    <article>
        <h2>Recently Added</h2>
        {% if new_bookmarks %}
        <ul>
            {% for bm in new_bookmarks %}
                <li>{{bm.user.username}} added <a href="{{bm.url}}">{{bm.description}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No Bookmarks yet.
        {% endif %}
    </article>
</div>

{% endblock %}
