{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is a demo bookmark site made with Flask.</p>
    <p>&nbsp;</p>
</div>

<div class="container">
    <article>
        <h2>Recently Added</h2>
        {% if new_bookmarks.count() > 0 %}
            <!-- Use our bookmark list partial to display them using Jinja with method -->
            {% with bookmarks=new_bookmarks %}
                <!-- Jinja include method -->
                {% include "bookmark_list.html" %}
            {% endwith %}
        {% else %}
            No Bookmarks yet.
        {% endif %}
    </article>
</div>

{% endblock %}
