<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Flask Application</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    {% endblock %}
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"><a href="{{ url_for('home') }}"></a></span>
                    <span class="icon-bar"><a href="{{ url_for('add') }}"></a></span>
                    <span class="icon-bar"><a href="{{ url_for('auth.signup') }}"></a></span>
                    <span class="icon-bar">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}">Login</a>
                        {% endif %}
                    </span>
                </button>
                <a href="/" class="navbar-brand">{{ title }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('add') }}">Add URL</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--this section is a house for the flash message content. get_flashed_messages is python class call from flash -->
       <div class="container text text-info">
           {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
           {% endif %}
          {% endwith %}
       </div>
    </div>


    <div class="container body-content">
        <br />
        {% block content %}{% endblock %}
        
        <aside class="container">
            <h3>Tags</h3>
            {% for t in all_tags() %}
                <a href="{{ url_for("tag", name=t) }}">{{ t }}</a>
            {% endfor %}
        </aside>
        <hr />
        <footer>
            <p>&copy; {{ year }} - {{ title }}</p>
        </footer>
    </div>

    <!-- Top level call in for moment -->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
