{% extends "layout.html" %}

{% block content %}
    <article>
        <header>
            <h1>Bookmarks for {{user.username }}</h1>
                {% if user.bookmarks.count() > 0 %}
                <!-- Use our bookmark list partial to display them using Jinja with method -->
                    {% with bookmarks=user.bookmarks %}
                        <!-- Jinja include method -->
                        {% include "bookmark_list.html" %}
                    {% endwith %}
                {% else %}
                    This user has not added any bookmarks.
                {% endif %}
        </header>
    </article>
{% endblock %}